
<nav class="navbar navbar-expand-lg navbar-darl bg-dark">
  <div class="contairner-fluid">
    <a class="navbar-brand" >YAR</a>
    <div class="collapse navbar-collapse" >

      
      <!-- <ul class="navbar-nav me-auto"> -->
        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="loginpage" routerLinkActive="active" style="color: aliceblue;">Login</a>
        </li> 
        -->
       <!--- <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="" style="color: aliceblue;">ajouter Entries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active" style="color: aliceblue;">Add entry</a>
        </li> -->
      <!-- </ul>  -->
      
      <!-- <form class="form-inline  my-2 my-lg-0" style="margin-left: 900px;">
        <table> 
          - <ul class="navbar "> 
          <tr>
          <td>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </td><td>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </td>  
          
           </ul> 
          </tr>
          </table>
      </form> -->
     
    
      
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        
      
      </div> 
      </div>
    </nav>

    <div class="container mt-5">
      <router-outlet></router-outlet>
    </div>


    <!-- <footer>
      <div class="bg-dark text-center text-white">
        Cerated By:    <a target="_blank" href="https://www.linkedin.com/in/younes-ait-rahou-454222225/">AIT RAHOU Younes</a>
      </div>
    </footer> -->

<!-- <div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type="text" #emailSignup/>
  <input type="text" #passwordSignup/>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
</div>
<hr>

<div *ngIf="!isSignedIn">
  <h2>Sign in</h2>
  <input type="text" #email/>
  <input type="text" #password/>
  <button (click)="onSignin(email.value,password.value)">Sign in</button>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home> -->

